.chat-container {
    width: 60%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #ffe7d1;
    box-shadow: 5px 10px 10px #b9a490 inset;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.convo-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    width: 90%;
    height: 83%;
    min-width: 100px;
    min-height: 200px;
    overflow: scroll;
}

.chat-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 17%;
    border-top: 1px solid rgb(141, 135, 135);
    background: #396362;
}

.chat-input {
    border-radius: 10px;
    border: none;
    min-height: 50px;
    width: 100%;
    font-size: 1em;
    background: #ffe7d1;
    color: black;
    box-shadow: 1px 2px 3px #a19992 inset;
    padding-left: 5px;
}

.chat-bubble {
    display: flex;
    align-items: center;
    /* min-width: 50px; */
    min-height: 30px;
    background: white;
    border-radius: 10px;
    margin: 5px;
    color: black;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.0em;
    background: black;
    color: white;
    box-shadow: 1px 2px 3px #a19992;
}