.contact-container {
    display: flex;
    width: 90%;
    min-width: 200px;
    height: 75px;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
}

.contact-container:hover {
    opacity: 0.7;
}

.friend-container {
    display: flex;
    width: 90%;
    min-width: 200px;
    height: 75px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    border-bottom: 1px solid #f6c89f;
    border-top: 1px solid #f6c89f;
    color: black;
}

.friend-container:hover {
    opacity: 0.5;
    cursor: grab;
}

.contact-right-div {
    align-self: center;
}

.contact-button {
    border: none;
    height: 20px;
    border-radius: 5px;
    
}

.contact-button:hover {
    cursor: grab;
}

.avatar-img {
    height: 60px;
    width: 60px;
    border-radius: 20px;
}