.friend-list-container {
    width: 40%;
    min-width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    color: white;
    /* border-radius: 3px; */
    border-bottom: none;
    background: #4b8e8d;
    /* background-image: linear-gradient(to bottom left, rgb(56, 55, 55), rgb(44, 44, 44)); */
}

.search-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    border-bottom: 1px solid #f6c89f;
    overflow: scroll;
}

.search-input {
    height: 35px;
    border: none;
    border-radius: 10px;
    background: #ffe7d1;
    color: black;
    box-shadow: 1px 2px 3px #a19992 inset;
    padding-left: 5px;
    font-size: 1.0em;
}

::placeholder {
    color: rgb(79, 94, 94);
    font-style: italic;
  }